### Moje r√≥wnanie

In [217]:
import math
a=5
b=3
c=math.sqrt(b**2+b**2)
print(c)

4.242640687119285

\documentclass{article}
\usepackage{amsmath}
\begin{document}
\begin{equation}
  kod =
    \begin{cases}
      1 & \text{if bank $i$ issues ABs at time $t$}\\
      2 & \text{if bank $i$ issues CBs at time $t$}\\
      0 & \text{otherwise}
    \end{cases}
\end{equation}
\end{document}

In [218]:
import random, nltk
nltk.download('names')

[nltk_data] Downloading package names to
[nltk_data]     C:\Users\blasz\AppData\Roaming\nltk_data...
[nltk_data]   Package names is already up-to-date!

True

In [219]:
male_names = nltk.corpus.names.words('male.txt')
female_names = nltk.corpus.names.words('female.txt')
print(male_names[:5])
print(female_names[:5])

['Aamir', 'Aaron', 'Abbey', 'Abbie', 'Abbot']
['Abagael', 'Abagail', 'Abbe', 'Abbey', 'Abbi']

In [220]:
marked_names = [(name, 'm') for name in male_names]
marked_names += [(name, 'k') for name in female_names]
print(marked_names[:10])

[('Aamir', 'm'), ('Aaron', 'm'), ('Abbey', 'm'), ('Abbie', 'm'), ('Abbot', 'm'), ('Abbott', 'm'), ('Abby', 'm'), ('Abdel', 'm'), ('Abdul', 'm'), ('Abdulkarim', 'm')]

In [221]:
random.seed(12347)
random.shuffle(marked_names)
print(marked_names[:10])

[('Maurene', 'k'), ('Hollyanne', 'k'), ('Adrian', 'k'), ('Raphael', 'm'), ('Vitoria', 'k'), ('Stephana', 'k'), ('Leo', 'm'), ('Kyla', 'k'), ('Ashli', 'k'), ('Nelson', 'm')]

In [222]:
import string
def get_traits(name):
    return {
        'Last letter': name[-1],
        # 'Name length': len(name),
        '2l' : name[-2:],
        '2f' : name[:2],
        'name' : name
        # 'a' : name.count('a')
    }

traits_set = [(get_traits(name), sex) for (name, sex) in marked_names]
print(traits_set[:10])

[({'Last letter': 'e', '2l': 'ne', '2f': 'Ma', 'name': 'Maurene'}, 'k'), ({'Last letter': 'e', '2l': 'ne', '2f': 'Ho', 'name': 'Hollyanne'}, 'k'), ({'Last letter': 'n', '2l': 'an', '2f': 'Ad', 'name': 'Adrian'}, 'k'), ({'Last letter': 'l', '2l': 'el', '2f': 'Ra', 'name': 'Raphael'}, 'm'), ({'Last letter': 'a', '2l': 'ia', '2f': 'Vi', 'name': 'Vitoria'}, 'k'), ({'Last letter': 'a', '2l': 'na', '2f': 'St', 'name': 'Stephana'}, 'k'), ({'Last letter': 'o', '2l': 'eo', '2f': 'Le', 'name': 'Leo'}, 'm'), ({'Last letter': 'a', '2l': 'la', '2f': 'Ky', 'name': 'Kyla'}, 'k'), ({'Last letter': 'i', '2l': 'li', '2f': 'As', 'name': 'Ashli'}, 'k'), ({'Last letter': 'n', '2l': 'on', '2f': 'Ne', 'name': 'Nelson'}, 'm')]

In [223]:
training_set, testing_set = traits_set[1000:], traits_set[:1000]
print(testing_set[:2])
print(marked_names[:2])

[({'Last letter': 'e', '2l': 'ne', '2f': 'Ma', 'name': 'Maurene'}, 'k'), ({'Last letter': 'e', '2l': 'ne', '2f': 'Ho', 'name': 'Hollyanne'}, 'k')]
[('Maurene', 'k'), ('Hollyanne', 'k')]

In [224]:
bayes = nltk.NaiveBayesClassifier.train(training_set)
print(bayes.classify(get_traits('Bartek')))

m

In [225]:
print(nltk.classify.accuracy(bayes, testing_set))

0.776

In [226]:
bayes.show_most_informative_features(10)

Most Informative Features
                      2l = 'na'                k : m      =    157.8 : 1.0
                      2l = 'ia'                k : m      =     88.1 : 1.0
                      2l = 'la'                k : m      =     71.9 : 1.0
                      2l = 'ta'                k : m      =     41.7 : 1.0
             Last letter = 'a'                 k : m      =     41.1 : 1.0
                      2l = 'sa'                k : m      =     34.5 : 1.0
             Last letter = 'k'                 m : k      =     29.6 : 1.0
                      2l = 'us'                m : k      =     26.7 : 1.0
                      2l = 'ra'                k : m      =     25.7 : 1.0
                      2l = 'rd'                m : k      =     22.6 : 1.0